<header>
    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img">
                            <a href="/">
                                <img src="~/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="@Html.IsSelected(actions: "Index", controllers: "Home", cssClass: "active")" href="/">home</a></li>
                                    <li><a class="@Html.IsSelected(actions: "Wbc", controllers: "FCS", cssClass: "active")" href="/FCS/Wbc">WBC Analysis</a></li>
                                    <li><a class="@Html.IsSelected(actions: "WbcCompare", controllers: "FCS", cssClass: "active")" href="/FCS/WbcCompare">WBC Compare</a></li>
                                    <!--
    <li>
        <a href="#">pages <i class="ti-angle-down"></i></a>
        <ul class="submenu">
            <li><a href="course_details.html">course details</a></li>
            <li><a href="elements.html">elements</a></li>
        </ul>
    </li>
        -->
                                    <li><a href="/">About</a></li>
                                    <li><a href="/">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                        <div class="log_chat_area d-flex align-items-center">
                            @if (User.Identity.IsAuthenticated)
                            {
                                //string userRole = User.FindFirst(System.Security.Claims.ClaimTypes.Role).Value;
                                string userName = User.FindFirst(Constants.CLAIM_TYPE_USER_NAME).Value;
                                string userAvatar = User.FindFirst(Constants.CLAIM_TYPE_USER_AVATAR).Value;

                                <a href="#" class="nav-link dropdown-toggle login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="@userAvatar" class="avatar-image" />&nbsp;&nbsp;
                                </a>
                                <div class="dropdown-menu p-2">
                                    <div>
                                        <img src="@userAvatar" class="avatar-image" />
                                        <span>&nbsp; &nbsp; @userName</span>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">My Profile</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/Users/Logout">Sign Out</a>
                                    <div class="dropdown-divider"></div>
                                </div>
                            }
                            else
                            {
                                <a href="#login-form" class="login popup-with-form">
                                    <i class="flaticon-user"></i>
                                    <span>Sign In</span>
                                </a>
                            }
                            <div class="live_chat_btn">
                                <a class="boxed_btn_orange" href="#">
                                    <i class="fa fa-phone"></i>
                                    <span>+1 617-755-9778</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
